<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link href="{{ url_for('static',filename='assets/vendor/fonts/circular-std/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/libs/css/style.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static',filename='assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/charts/chartist-bundle/chartist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/charts/morris-bundle/morris.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static',filename='assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/charts/c3charts/c3.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static',filename='assets/vendor/fonts/flag-icon-css/flag-icon.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/inputmask/css/inputmask.css') }}" />
    <title>STEDAS</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">e-Quality Surveillance Inspection - Desktop Portal</a>

            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/report" aria-expanded="false" data-target="#submenu-1"
                                    aria-controls="submenu-1">
                                    <i class="fa fa-fw fa-flask"></i>Summary Report
                                    <span class="badge badge-success">6</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/" aria-expanded="false"
                                    data-target="#submenu-2" aria-controls="submenu-2">
                                    <i class="fa fa-fw fa-database"></i>Charts
                                    <span class="badge badge-success">6</span>
                                </a>
                            </li>
                            <li class="nav-divider">
                                Database Manipulation
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/crud" aria-expanded="false" data-target="#submenu-1"
                                    aria-controls="submenu-1">
                                    <i class="fa fa-fw fa-flask"></i>CRUD
                                    <span class="badge badge-success">6</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/" aria-expanded="false"
                                    data-target="#submenu-2" aria-controls="submenu-2">
                                    <i class="fa fa-fw fa-database"></i>Checklist Assignment
                                    <span class="badge badge-success">6</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->




        <div class="dashboard-wrapper" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="static/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="static/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="static/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="static/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="static/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->

    <script src="static/assets/libs/js/dashboard-ecommerce.js"></script>

    <script src="static/assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
    <script src="static/assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>

    <script>
        $(function (e) {
            "use strict";
            $(".date-inputmask").inputmask("dd/mm/yyyy"),
                $(".phone-inputmask").inputmask("(999) 999-9999"),
                $(".international-inputmask").inputmask("+9(999)999-9999"),
                $(".xphone-inputmask").inputmask("(999) 999-9999 / x999999"),
                $(".purchase-inputmask").inputmask("aaaa 9999-****"),
                $(".cc-inputmask").inputmask("9999 9999 9999 9999"),
                $(".ssn-inputmask").inputmask("999-99-9999"),
                $(".isbn-inputmask").inputmask("999-99-999-9999-9"),
                $(".currency-inputmask").inputmask("$9999"),
                $(".percentage-inputmask").inputmask("99%"),
                $(".decimal-inputmask").inputmask({
                    alias: "decimal",
                    radixPoint: "."
                }),

                $(".email-inputmask").inputmask({
                    mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[*{2,6}][*{1,2}].*{1,}[.*{2,6}][.*{1,2}]",
                    greedy: !1,
                    onBeforePaste: function (n, a) {
                        return (e = e.toLowerCase()).replace("mailto:", "")
                    },
                    definitions: {
                        "*": {
                            validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~/-]",
                            cardinality: 1,
                            casing: "lower"
                        }
                    }
                })
        });
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



</body>

</html>